In [152]:
import numpy as np
import pandas as pd
import matplotlib as plt

train_data = pd.read_csv("train.csv")

In [125]:
from scipy import stats

We get list of train columns name.

In [153]:
train_target = train_data.columns

train_target = train_target[:-1]

train_target

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name'],
      dtype='object')

In [154]:
non_categorial_values = ['Age','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']

In [158]:
train = train_data[non_categorial_values]

In [156]:
for i in train_data.columns:
    if train_data[i].dtypes == 'object':
        train_data[i].fillna(train_data[i].mode()[0], inplace=True)
    else:
        train_data[i].fillna(train_data[i].median(), inplace=True)

In [241]:
a = 0
list_of_cat_features = []
for i in train_data.columns:
    if train_data[i].dtypes == 'object':
        list_of_cat_features.append(a)
    a+= 1

In [159]:
list_of_cat_features

[0, 1, 3, 4, 12]

In [141]:
def ben(x):
    if x == "True":
        return(1)
    else:
        return(0) 

train_data['VIP'] = train_data['VIP'].map(lambda x: ben(x))

train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8693 non-null   object
 2   CryoSleep     8693 non-null   bool
 3   Cabin         8693 non-null   object
 4   Destination   8693 non-null   object
 5   Age           8693 non-null   float64
 6   VIP           8693 non-null   int64
 7   RoomService   8693 non-null   float64
 8   FoodCourt     8693 non-null   float64
 9   ShoppingMall  8693 non-null   float64
 10  Spa           8693 non-null   float64
 11  VRDeck        8693 non-null   float64
 12  Name          8693 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(2), float64(6), int64(1), object(5)
memory usage: 832.1+ KB

In [142]:
train_data['CryoSleep'] = train_data['CryoSleep'].map(lambda x: ben(x))

In [144]:
from sklearn.preprocessing import LabelEncoder

In [160]:
train = train_data.drop(["Name","Transported"],axis = 1)

In [176]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8693 non-null   int32
 2   CryoSleep     8693 non-null   bool
 3   Cabin         8693 non-null   int32
 4   Destination   8693 non-null   int32
 5   Age           8693 non-null   float64
 6   VIP           8693 non-null   bool
 7   RoomService   8693 non-null   float64
 8   FoodCourt     8693 non-null   float64
 9   ShoppingMall  8693 non-null   float64
 10  Spa           8693 non-null   float64
 11  VRDeck        8693 non-null   float64
dtypes: bool(2), float64(6), int32(3), object(1)
memory usage: 594.4+ KB

In [165]:
le=LabelEncoder()
train_data['Transported']= le.fit_transform(train_data['Transported'])
train_data['HomePlanet'] = le.fit_transform(train_data['HomePlanet'])
train_data['Cabin'] = le.fit_transform(train_data['Cabin'])
train_data['Destination'] =le.fit_transform(train_data['Destination'])

In [167]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8693 non-null   int32
 2   CryoSleep     8693 non-null   bool
 3   Cabin         8693 non-null   int32
 4   Destination   8693 non-null   int32
 5   Age           8693 non-null   float64
 6   VIP           8693 non-null   bool
 7   RoomService   8693 non-null   float64
 8   FoodCourt     8693 non-null   float64
 9   ShoppingMall  8693 non-null   float64
 10  Spa           8693 non-null   float64
 11  VRDeck        8693 non-null   float64
 12  Name          8693 non-null   object
 13  Transported   8693 non-null   int64
dtypes: bool(2), float64(6), int32(3), int64(1), object(2)
memory usage: 730.2+ KB

In [164]:
y = train_data["Transported"]

In [168]:
cat_features = list_of_cat_features
print(cat_features)

[0, 1, 3, 4, 12]

In [172]:
from catboost import CatBoostClassifier

from sklearn.model_selection import train_test_split

In [175]:
X_train, X_test, y_train, y_test = train_test_split(train, y, test_size=0.33, random_state=42)

In [177]:
clf = CatBoostClassifier(
    iterations=5, 
    learning_rate=0.1,
    #loss_function='CrossEntropy'
)

In [181]:
X_train.drop(["PassengerId"],axis = 1, inplace = True)

In [186]:
def LikeDegree(x):
    if x == False:
        return(0)
    else:
        return(1) 

X_train['CryoSleep'] = X_train['CryoSleep'].map(lambda x: LikeDegree(x))

In [188]:
X_train['VIP'] = X_train['VIP'].map(lambda x: LikeDegree(x))

In [192]:
X_train.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
4696,2,0,4486,2,35.0,0,1337.0,49.0,57.0,0.0,0.0
5946,0,0,4589,2,28.0,0,0.0,152.0,215.0,30.0,510.0
227,2,1,6156,2,43.0,0,0.0,0.0,0.0,0.0,0.0
3950,1,1,206,2,65.0,0,0.0,0.0,0.0,0.0,0.0
7674,0,0,5026,1,18.0,0,0.0,0.0,19.0,751.0,4.0

In [178]:
cat_features.pop(4)

12

In [193]:
clf.fit(X_train, y_train,
        verbose=False
)

In [197]:
X_test.drop(["PassengerId"],axis = 1, inplace = True)

In [199]:
X_test['VIP'] = X_test['VIP'].map(lambda x: LikeDegree(x))
X_test['CryoSleep'] = X_test['CryoSleep'].map(lambda x: LikeDegree(x))

In [200]:
print('CatBoost model is fitted: ' + str(clf.is_fitted()))
print('CatBoost model parameters:')
print(clf.get_params())

CatBoost model is fitted: True
CatBoost model parameters:
{'iterations': 5, 'learning_rate': 0.1}

In [201]:
a = clf.predict(data=X_test)

In [215]:
len(a)

2869

In [203]:
len(y_test)

2869

In [204]:
from sklearn.metrics import roc_auc_score

In [205]:
roc_auc_score(y_test, clf.predict_proba(X_test)[:, 1])

0.8514151860347575

In [216]:
test_data = pd.read_csv('test.csv')

In [217]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2869 entries, 304 to 617
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    2869 non-null   int32
 1   CryoSleep     2869 non-null   int64
 2   Cabin         2869 non-null   int32
 3   Destination   2869 non-null   int32
 4   Age           2869 non-null   float64
 5   VIP           2869 non-null   int64
 6   RoomService   2869 non-null   float64
 7   FoodCourt     2869 non-null   float64
 8   ShoppingMall  2869 non-null   float64
 9   Spa           2869 non-null   float64
 10  VRDeck        2869 non-null   float64
dtypes: float64(6), int32(3), int64(2)
memory usage: 235.3 KB

In [218]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

In [219]:
test_data['CryoSleep'] = test_data['CryoSleep'].map(lambda x: ben(x))

In [220]:
for i in test_data.columns:
    if test_data[i].dtypes == 'object':
        test_data[i].fillna(test_data[i].mode()[0], inplace=True)
    else:
        test_data[i].fillna(test_data[i].median(), inplace=True)

In [221]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   int64
 3   Cabin         4277 non-null   object
 4   Destination   4277 non-null   object
 5   Age           4277 non-null   float64
 6   VIP           4277 non-null   bool
 7   RoomService   4277 non-null   float64
 8   FoodCourt     4277 non-null   float64
 9   ShoppingMall  4277 non-null   float64
 10  Spa           4277 non-null   float64
 11  VRDeck        4277 non-null   float64
 12  Name          4277 non-null   object
dtypes: bool(1), float64(6), int64(1), object(5)
memory usage: 405.3+ KB

In [222]:
test_data['VIP'] = test_data['VIP'].map(lambda x: ben(x))

In [223]:
test_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,0,G/3/S,TRAPPIST-1e,27.0,0,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,0,F/4/S,TRAPPIST-1e,19.0,0,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,0,C/0/S,55 Cancri e,31.0,0,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,0,C/1/S,TRAPPIST-1e,38.0,0,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,0,F/5/S,TRAPPIST-1e,20.0,0,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,0,G/1496/S,TRAPPIST-1e,34.0,0,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,0,G/160/P,TRAPPIST-1e,42.0,0,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,0,D/296/P,55 Cancri e,26.0,0,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,0,D/297/P,TRAPPIST-1e,26.0,0,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,0,G/1498/S,PSO J318.5-22,43.0,0,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [224]:
test_data = test_data.drop(["Name"],axis = 1)

In [225]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   int64
 3   Cabin         4277 non-null   object
 4   Destination   4277 non-null   object
 5   Age           4277 non-null   float64
 6   VIP           4277 non-null   int64
 7   RoomService   4277 non-null   float64
 8   FoodCourt     4277 non-null   float64
 9   ShoppingMall  4277 non-null   float64
 10  Spa           4277 non-null   float64
 11  VRDeck        4277 non-null   float64
dtypes: float64(6), int64(2), object(4)
memory usage: 401.1+ KB

In [240]:
a = test_data['PassengerId']

KeyError: 'PassengerId'

In [229]:

test_data['HomePlanet'] = le.fit_transform(test_data['HomePlanet'])
test_data['Cabin'] = le.fit_transform(test_data['Cabin'])
test_data['Destination'] =le.fit_transform(test_data['Destination'])

In [234]:
test_data.drop(['PassengerId'],axis = 1,inplace = True)

In [235]:
a = clf.predict(data=test_data)

In [236]:
len(a)

4277

In [237]:
d = {'PassengerId': a, 'Transported': a}

In [238]:
results = pd.DataFrame(data=d)

PassengerId    2
Transported    2
dtype: int64

In [218]:
results["Transported"] = results["Transported"].astype(bool)

In [220]:
results

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01        False
4        0023_01         True
...          ...          ...
4272     9266_02         True
4273     9269_01        False
4274     9271_01         True
4275     9273_01         True
4276     9277_01         True

[4277 rows x 2 columns]

In [221]:
results.to_csv("submission.csv", index=False)

In [222]:
results

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01        False
4        0023_01         True
...          ...          ...
4272     9266_02         True
4273     9269_01        False
4274     9271_01         True
4275     9273_01         True
4276     9277_01         True

[4277 rows x 2 columns]